before_install:
- export DATA_FILE='/tmp/diskdict'
deploy:
- provider: releases
  api_key:
    secure: DrwGaBEFBMft6Cgd2k7koWQxVx28T9RpilvobItKgKBy4w/A7GDK5BO3ft0KmISaPcPghkx6wEUt+VynSYW5qTao7H/wCZ3jn5xN/5DRpT/NJt+jzXSXa1WlsBhs7zEYcXxI69ZCxRQ+Y5k0zgCooEyit9rUKtXoj6MakCy5o+rZcYZqEayazuTsRM8SZzqkk0A/DTHt0QadFsjxmiczcPxefYx4yNlsKbhfNFINjzpWrJg5P8KydO8gpUT03oRY899UYZ7sduKeTHx+6yUcwjoCW2h7P5PqAK6Gb11NU0nKg19AMBXhjbjWIMsOpsiieQavkMSVJ4ZyfMOuGc8i8oCb/0uiSmJbMG9pDVMXrIc07cCgx1RvGXUJyUEKsLaRBvWLZ64zWu4ZLOfaj/CM7s3ZTslnNojJQtbRrqhstYUnikQnOU7tI6Yl5ig2KV+u1TZWT4MLfrAo1ErxAffVEwIkm1aL3HFNW0+rAv2eUwF5dPaJGI38fg5S4IWe8vjYNWW6kLfcP5z+vgk7lTdt7jS645h826MZ9LQascBfGBNMqX6j73LeOaGXFIE+DmhPUqDI+9yEKtmYgBGxMHSRDGcR2ZTr1GRGIASTboQEvzLeiZSc/2xKHOeJnXnZz/U2SnbT0TpyIPPJ+4CgcloaMwqPjBi8E4iSCivm5PWw9Do=
  name: diskdict-0.2.5
  tag_name: 0.2.5
  true:
    repo: deep-compute/diskdict
- provider: pypi
  distributions: sdist bdist_wheel
  server: https://upload.pypi.org/legacy/
  user: deepcompute
  password:
    secure: bpycr6AT9UzyL/y5cD7tcqy/LIV5oCxy/W/tMQKOzSVESkdCkmRoblir673HEx1Ikcpp0dnamY7apgrRg+dgsu+wlEZO9wy3W92g68yoIzR0ksyV22kWmX2CHxPUaOteu2i2krc7iS9nyYw2OVc4lPQ3hgZ0JrBt4NlnVIs4E5ReYItiXSnmUcGl3BoMza7VydNkxb9zezR1eDaYOSHf6keQkq6LhUPkjrgiZRB4cp/JZ/p8uSouR9WwfToYTTe4D30MOZdbGM9zY5JtP1eVsexgGZq+xfrZY7Kvg3xeRc2Jg1CkmFnragNohhcC/gTEWWBq3Xb5yZMtarjMxtGi1Z5IgreNY0UPHK/kAplJN7NY566pdEfPExIwX1zlSoj8ydgxSfYa64hqR/kFF7EybXbAtnJDGxuSmff4elEn6DKko8Ssj56WjnJ7dU1MbYokYmhGDFJx76VS4OREJbi77h+H/Jil5ykiKGow+tiXr5zf/W4Mh3cd7tidHCfyYZI+wKSuf45T++77d2Xf7/ZaspH4VMbwbzHmvUAT74gljOypVj8spc7B38TDdf+sdZiqA60ZkRFqPkixmRdwDBXFrLAAHQw6TrkXksUynneR0RIa/IwzRdICj08OSpNW3wFtkKLPLXtt5eX+ms0v5BYJlJ7B65qG9Zk/gUJS+jvZSm0=
  true:
    branch: master
    tags: true
install:
- pip install .
language: python
python:
- '3.5'
script:
- docker run -v $(pwd):/app deepcompute/black:python-black-latest --check .
- python setup.py test
